.layout-wrapper {
    .layout-menu-container {
        background-color: $menuBgColor;
        position: fixed;
        z-index: 101;
        top: 50px;
        overflow: auto;
        @include overlay-shadow();

        .layout-menu {
            margin: 0;
            padding: 0;
            list-style-type: none;

            li {
                > a {
                    cursor: pointer;
                    color: $menuitemTextColor;
                    display: block;
                    user-select: none;
                    width: 100%;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    -webkit-user-select: none;

                    span {
                        display: inline-block;
                        vertical-align: middle;
                        margin-left: 6px;
                    }

                    i {
                        display: inline-block;
                        vertical-align: middle;
                    }

                    > span.menuitem-badge {
                        background-color: $primaryColor;
                        color: $primaryTextColor;
                        width: 18px;
                        height: 18px;
                        text-align: center;
                        font-size: 12px;
                        float: right;
                        position: relative;
                        top: 2px;
                        padding-top: 1px;
                        @include border-radius(50%);
                    }

                    .layout-menuitem-toggler {
                        @include transition(transform $transitionDuration);
                    }

                    &.active-menuitem-routerlink {
                        color: $primaryColor;
                        font-weight: 700;
                    }

                    &:not(:hover) {
                        &.blue-theme {
                            i {color: $blue}
                        }

                        &.green-theme {
                            i {color: $green}
                        }

                        &.cyan-theme {
                            i {color: $cyan}
                        }

                        &.purple-theme {
                            i {color: $purple}
                        }

                        &.indigo-theme {
                            i {color: $indigo}
                        }

                        &.yellow-theme {
                            i {color: $yellow}
                        }

                        &.orange-theme {
                            i {color: $orange}
                        }

                        &.pink-theme {
                            i {color: $pink}
                        }
                    }
                }

                &.active-menuitem {
                    > a {
                        .layout-menuitem-toggler {
                            @include rotate(-180deg);
                        }
                    }
                }

                ul {
                    margin: 0;
                    padding: 0;
                    list-style-type: none;
                    display: none;
                    overflow: hidden;

                    &.layout-submenu-enter {
                        max-height: 0;
                        display: block;
                    }

                    &.layout-submenu-enter-active {
                        max-height: 1000px;
                        transition: max-height cubic-bezier(0.86, 0, 0.07, 1) .4s;
                    }

                    &.layout-submenu-enter-done {
                        display: block;
                    }

                    &.layout-submenu-exit {
                        max-height: 1000px;
                        display: block;
                    }

                    &.layout-submenu-exit-active {
                        max-height: 0;
                        display: block;
                        transition: max-height cubic-bezier(0.86, 0, 0.07, 1) .4s;
                    }
                }

                &.active-menuitem {
                    > a {
                        .layout-menuitem-toggler {
                            @include rotate(-180deg);
                        }
                    }
                }
            }

            .layout-menu-tooltip {
                display:none;
                padding: 0 5px;
                position: absolute;
                left: 61px;
                top: 7px;
                line-height: 1;

                .layout-menu-tooltip-text {
                    padding: 6px 8px;
                    font-weight: 700;
                    background-color: $primaryColor;
                    color: $primaryTextColor;
                    min-width: 75px;
                    white-space: nowrap;
                    text-align: center;
                    @include border-radius($borderRadius);
                    @include overlay-shadow();
                }

                .layout-menu-tooltip-arrow {
                    position: absolute;
                    width: 0;
                    height: 0;
                    border-color: transparent;
                    border-style: solid;
                    top: 50%;
                    left: 0;
                    margin-top: -5px;
                    border-width: 5px 5px 5px 0;
                    border-right-color: $primaryColor;
                }
            }
        }
    }
}
