@media (min-width: 1025px) {
    .layout-wrapper {

        &.layout-overlay {
            .layout-content {
                padding-top: 50px;
            }
        }

        &.layout-overlay, &.layout-static {

            .layout-menu-container {
                padding: 0 0 60px 0;
                width: 230px;
                height: 100%;
                left: -230px;
                @include transition(left $transitionDuration);

                .layout-menu-title {
                    display: block;
                    padding: 11px;
                    font-size: 16px;
                    color: $textSecondaryColor;
                    border-bottom: 1px solid $dividerColor;
                    letter-spacing: 2px;
                }

                .layout-menu {

                    li {
                        a {
                            padding: 10px 12px;
                            display: block;

                            &:hover {
                                background-color: $primaryColor;
                                color: $primaryTextColor;
                            }

                            i:first-child {
                                font-size: 18px;
                                vertical-align: middle;
                                display: inline-block;
                            }

                            i.layout-menuitem-toggler {
                                float: right;
                                line-height: 22px;
                            }

                            > span {
                                vertical-align: middle;
                                display: inline-block;
                                line-height: $fontSize + 1;
                                margin-left: 6px;
                            }
                        }

                        &.active-menuitem {
                            > a {
                                background-color: $submenuActiveBgColor;
                                color: $menuItemActiveTextColor;

                                &:hover {
                                    background-color: $primaryColor;
                                    color: $primaryTextColor;
                                }
                            }
                        }
                    }

                    > li {
                        &:first-child {
                            margin-top: 8px;
                        }

                        ul {
                            background: $submenuActiveBgColor;

                            li {
                                a {
                                    padding-left: 24px;
                                }

                                ul {
                                    li {
                                        a {
                                            padding-left: 36px;
                                        }

                                        ul {
                                            li {
                                                a {
                                                    padding-left: 48px;
                                                }

                                                ul {
                                                    li {
                                                        a {
                                                            padding-left: 60px;
                                                        }

                                                        ul {
                                                            li {
                                                                a {
                                                                    padding-left: 72px;
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .layout-menu-footer {
                    .layout-menu-footer-title {
                        display: block;
                        padding: 11px;
                        font-size: 16px;
                        color: $textSecondaryColor;
                        border-bottom: 1px solid $dividerColor;
                        letter-spacing: 2px;
                    }

                    .layout-menu-footer-content {
                        padding: 10px 12px;
                        color: $menuitemTextColor;

                        .p-progressbar {
                            height: 5px;
                            border: 0 none;
                            margin: 16px 0 4px 0;
                        }
                    }
                }
            }
        }

        &.layout-overlay{
            &.layout-overlay-active {
                .layout-menu-container {
                    left: 0;
                }
            }
        }

        &.layout-static {
            .layout-content {
                padding-top: 50px;
                margin-left: 230px;
                @include transition(margin-left $transitionDuration);
            }

            &.layout-static-inactive {
                .layout-content {
                    margin-left: 0;
                }
            }
            .layout-menu-container {
                left: 0;
            }

            &.layout-static-inactive {
                .layout-menu-container {
                    left: -230px;
                }
            }
        }
    }
}
