body {
    .p-paginator {
        padding: $headerPadding;

        .p-paginator-first,.p-paginator-prev,.p-paginator-next,.p-paginator-last {
            color: $headerTextColor;
            height: 20px;
            width: 20px;
            padding: 0;
            display: inline-block;
            vertical-align: middle;
            @include border-box();
            @include transition(background-color $transitionDuration);

            span {
                display: none;
            }

            &:not(.p-disabled):not(.p-highlight):hover {
                @include list-item-hover();
            }

            &:focus {
                outline: 0 none;
            }
        }

        .p-paginator-first {
            @include icon-override("\f048");

            &:before {
                position: relative;
                top: 3px;
            }
        }

        .p-paginator-prev {
            @include icon-override("\f04b");
            @include rotate(180deg);

            &:before {
                position: relative;
                top: 3px;
            }
        }

        .p-paginator-next {
            @include icon-override("\f04b");

            &:before {
                position: relative;
                top: 3px;
            }
        }

        .p-paginator-last {
            @include icon-override("\f051");

            &:before {
                position: relative;
                top: 3px;
            }
        }

        .p-paginator-pages {
            padding: 0;
            vertical-align: middle;
            display: inline-block;

            .p-paginator-page {
                color: $headerTextColor;
                height: 20px;
                width: 20px;
                padding: 0;
                vertical-align: middle;
                display: inline-block;
                @include border-box();
                @include transition(background-color $transitionDuration);

                &.p-highlight {
                    background-color: $primaryColor;
                    color: $primaryTextColor;
                }

                &:not(.p-highlight):hover {
                  @include list-item-hover();
                }

                &:focus {
                    outline: 0 none;
                    border-color: $primaryColor;
                }
            }
        }
    }

    .p-datatable {
        .p-datatable-header, .p-datatable-footer {
            padding: $headerPadding;
        }

        .p-datatable-header {
            .p-multiselect-item {
                color: $textColor;
            }
        }

        .p-paginator {
            padding: $headerPadding;
        }

        .p-datatable-thead {
            > tr {
                > th {
                    background-color: $headerBgColor;
                    padding: $headerPadding;
                    border-color: $datatableCellBorderColor;
                    color: $headerTextColor;
                    font-weight: 700;

                    .p-dropdown-item,
                    .p-multiselect-item {
                        color: $textColor;

                        &.p-highlight {
                            color: $primaryTextColor;
                        }
                    }

                    &.p-selection-column {
                        padding: 0.5em 0.6em;
                    }

                    &.p-sortable-column:not(.p-highlight):hover {
                      @include list-item-hover();
                    }

                    &.p-highlight {
                        @include highlight();
                    }

                    .p-column-title {
                        font-weight: 700;
                    }
                }
            }
        }

        .p-datatable-tfoot {
            > tr {
                > td {
                    background-color: $primaryColor;
                    padding: $headerPadding;
                    border-color: $datatableCellBorderColor;
                    color: $primaryTextColor;
                }
            }
        }

        .p-datatable-data {
            tr {
                background-color: $contentBgColor;
                border-color: $datatableCellBorderColor;

                &.p-rowgroup-header {

                    .pi:hover {
                        color: lighten($primaryColor, 5%);
                    }
                }

                &.p-widget-header {
                    td {
                        border-color: $datatableCellBorderColor;
                    }
                }

                &.p-datatable-even {
                    background-color: $datableEvenRowBgColor;

                    &.p-highlight {
                      background-color: $primaryColor;
                      color: $primaryTextColor;
                    }
                }

                &.p-datatable-odd {
                    background-color: $contentBgColor;

                    &.p-highlight {
                      background-color: $primaryColor;
                      color: $primaryTextColor;
                    }
                }

                &.p-highlight {
                  background-color: $primaryColor;
                  color: $primaryTextColor;
                }

                td {
                    padding: $contentPadding;

                    &.p-selection-column {
                        padding: 0.5em 0.6em;
                    }

                    .p-row-toggler {
                        color: $textColor;
                        @include transition(color $transitionDuration);

                        &.pi-chevron-circle-right {
                            @include icon_override("\f054");
                        }

                        &.pi-chevron-circle-down {
                            @include icon_override("\f078");
                        }

                        &:hover {
                            color: $primaryColor;
                        }
                    }
                }

                &.p-widget-header {
                    border: 1px solid $contentBorderColor;

                    a {
                        color: $headerTextColor;
                        @include transition(color $transitionDuration);

                        &:hover {
                            color: $primaryColor;
                        }
                    }
                }
            }

            &.p-datatable-hoverable-rows {
                > tr.p-widget-content:not(.p-highlight):hover {
                    cursor: pointer;
                    @include list-item-hover();
                }
            }
        }

        .p-datatable-scrollable-header,
        .p-datatable-scrollable-footer {
            background-color: $headerBgColor;

            .p-datatable-scrollable-header-box {
                td {
                    color: $textColor;
                }
            }
        }
    }

    .p-dataview {

        .p-dataview-content {
            border-bottom: none;
        }

        .p-paginator {
            padding: $headerPadding;
        }
    }

    .p-datagrid {
        .p-datagrid-header {
            padding: $headerPadding;
        }

        .p-paginator {
            padding: $headerPadding;
        }
    }

    .p-datalist {
        .p-datalist-header {
            padding: $headerPadding;
        }

        .p-paginator {
            padding: $headerPadding;
        }
    }

    .p-datascroller {
        .p-datascroller-header,
        .p-datascroller-footer {
            padding: $headerPadding;
        }
    }

    .p-picklist {
        .p-picklist-buttons {
            padding: $contentPadding;

            button {
                font-size: $fontSize + 2;
            }
        }

        .p-picklist-caption {
            padding: $headerPadding;
        }

        .p-picklist-filter-container {
            margin-bottom: -1px;

            .pi {
                color: $textSecondaryColor;
            }
        }

        .p-picklist-list {
            .p-picklist-item {
                padding: $listItemPadding;
                margin: 0;
                @include border-radius(0);

                &:not(.p-highlight):hover {
                    @include list-item-hover();
                }
            }
        }
    }

    .p-orderlist {
        .p-orderlist-controls {
            padding: $contentPadding;

            button {
                font-size: $fontSize + 2;
            }
        }

        .p-orderlist-caption {
            padding: $headerPadding;
            box-sizing: border-box;
            width: 200px;
        }

        .p-orderlist-filter-container {
            margin-bottom: -1px;

            .pi {
                color: $textSecondaryColor;
            }
        }

        .p-orderlist-list {
            box-sizing: border-box;

            .p-orderlist-item {
                padding: $listItemPadding;
                margin: 0;
                @include border-radius(0);

                &:not(.p-highlight):hover {
                    @include list-item-hover();
                }
            }
        }

        &.p-grid-responsive {
            .p-grid-row {
                .p-orderlist-controls {
                    margin-right: 0;
                    padding-right: 0.714em;
                }
            }
        }
    }

    .p-carousel {
        padding: 0;

        .p-carousel-header {
            padding: $headerPadding;
            margin: 0;
            border: 0 none;
            border-bottom: 1px solid $headerBorderColor;
            @include border-radius(0);

            .p-carousel-header-title {
                padding: 0;
            }
        }

        .p-carousel-footer {
            padding: $headerPadding;
            border: 0 none;
            border-top: 1px solid $headerBorderColor;
            margin: 0;
            @include border-radius(0);
        }

        .p-carousel-button {
            margin-top: .4em;
            @include transition(color $transitionDuration);
            color: $headerIconColor;

            &.p-carousel-next-button {
                @include icon-override("\f054");
            }

            &.p-carousel-prev-button {
                @include icon-override("\f053");
            }

            &:not(.p-disabled):hover {
                color: $headerIconHoverColor;
            }
        }

        .p-carousel-page-links {
            margin-top: .4em;

            .p-carousel-page-link {
                color: $headerIconColor;
                @include transition(color $transitionDuration);

                &:hover {
                    color: darken($headerIconColor, 10%);
                }

                &.pi-circle-off {
                    color: $headerIconColor;
                    @include icon-override("\F10C")
                }

                &.pi-circle-on {
                    color: $headerIconColor;
                    @include icon-override("\F192")
                }
            }
        }
    }

    .p-organizationchart {
        .p-organizationchart-node-content {
            &.p-organizationchart-selectable-node:not(.p-highlight):hover {
                @include list-item-hover();
            }

            &.p-highlight {
                .p-node-toggler {
                    i {
                        color: darken($primaryColor, 25%);
                    }
                }
            }
        }
        .p-organizationchart-line-down {
            background-color: darken($contentBorderColor, 10%);
        }

        .p-organizationchart-line-left {
            border-right: 1px solid darken($contentBorderColor, 10%);
        }

        .p-organizationchart-line-right {

        }

        .p-organizationchart-line-top {
            border-top: 1px solid darken($contentBorderColor, 10%);
        }

        .p-organizationchart-node-content {
            border-color: darken($contentBorderColor, 10%);
        }

        .p-organizationchart-node-content .p-node-toggler {
            color: darken($contentBorderColor, 10%);
            bottom: -.7em;
            margin-left: -.46em;
        }
    }

    .p-treetable {
        .p-treetable-header {
            padding: $headerPadding;
        }

        .p-treetable-footer {
            padding: $headerPadding;
        }

        thead {
            th {
                padding: $listItemPadding;
                color: $headerTextColor;
                border: 1px solid $datatableCellBorderColor;

                &.p-hover {
                    @include list-item-hover();
                }

                &.p-highlight {
                    background-color: $primaryColor;
                    color: $primaryTextColor;
                    border-top-color: $primaryColor;
                }

                .p-column-title {
                    font-weight: 700;
                }
            }
        }

        tfoot {
            td {
                padding: $listItemPadding;
                color: $headerTextColor;
                border: 1px solid $datatableCellBorderColor;
            }
        }

        tbody {
            > tr {
                &.p-treetable-row-selectable {
                    cursor: pointer;

                    &:not(.p-highlight):hover {
                        @include list-item-hover();

                        .p-treetable-toggler {
                            color: $primaryTextColor;
                        }
                    }

                    &.p-highlight {
                        background-color: $primaryColor;
                        color: $primaryTextColor;

                        .p-treetable-toggler {
                            color: $primaryTextColor;
                        }
                    }
                }

                td {
                    background: inherit;
                    border: 1px solid $datatableCellBorderColor;

                    .p-treetable-toggler {
                        font-size: $fontSize + 2;
                        vertical-align: middle;
                        display: inline-block;
                        float: none;
                        color: $textSecondaryColor;
                        line-height: inherit;
                    }

                    .p-treetable-checkbox .p-chkbox-icon {
                        margin: 0;

                        &.pi-check {
                            color: $primaryColor;
                        }
                    }
                }
            }
        }
    }

    .p-tree {
        padding: .25em .5em;

        .p-treenode {
            padding: .15em 0;

            .p-treenode-content {
                padding: 0 0 .25em 0;

                .p-tree-toggler {
                    font-size: $fontSize + 2;
                    vertical-align: middle;
                    display: inline-block;
                    float: none;
                    margin: 0;
                }

                .p-treenode-icon {
                    vertical-align: middle;
                    display: inline-block;
                    margin: 0;
                    font-size: $fontSize + 2;
                }

                .p-treenode-label {
                    margin: 0;
                    vertical-align: middle;
                    display: inline-block;
                    padding: 0 .25em;

                    &.p-highlight {
                        @include highlight();
                    }
                }

                .p-chkbox {
                    margin: 0 .25em;

                    .p-chkbox-icon {
                        margin: 0;
                    }
                }

                &.p-treenode-selectable {
                    .p-treenode-label:not(.p-highlight):hover {
                        @include list-item-hover();
                    }
                }

                > span {
                    line-height: inherit;
                }

                &.p-treenode-dragover {
                    @include list-item-hover();
                }
            }
        }

        &.p-tree-horizontal {
            padding: .85em 0;

            .p-treenode {
                background: url("../layout/images/tth-connector.png") repeat-x scroll center center transparent;

                .p-treenode-content {
                    padding: $contentPadding;
                    background-color: $contentBgColor;
                    border: 1px solid $contentBorderColor;

                    &.p-highlight {
                        @include highlight();
                    }

                    .p-chkbox {
                        .p-icon {
                            color: $primaryColor;
                        }
                    }

                    .p-treenode-label:not(.p-highlight):hover {
                        background-color: inherit;
                        color: inherit;
                    }

                    &.p-treenode-selectable:not(.p-highlight):hover {
                        @include list-item-hover();
                    }
                }
            }

            .p-treenode-connector-line {
                background: url("../layout/images/tth-connector.png") repeat-y scroll 0 0 transparent
            }
        }
    }

    .fc {
        .fc-toolbar {
            .p-icon-circle-triangle-e {
                @include icon_override("\f054");
                height: auto;
                width: auto;
                overflow: visible;
            }

            .p-icon-circle-triangle-w {
                @include icon_override("\f053");
                height: auto;
                width: auto;
                overflow: visible;
            }
        }
        .fc-event-container {
            .fc-event {
                font-size: $fontSize;
                border-color: $primaryColor;
                background-color: darken($primaryColor,5%);
            }
        }
    }
}
